@page
@model netCore.Pages.salesModel
@{
   

}
<p>This is our sales Page</p>
<a class="btn btn-primary" href="/add_sales">Add Sales</a><br><br>
<h>Sales Information</h>
<table>
    <thead>
        
        <tr>
            <th>sales_id</th>
          <th>Sales Man Name </th>
          <th>Sales Amounts</th>
          <th>Sales City</th>
          <th>Sales Email Id</th>
          <th>Update Sales Details</th>
          <th>Delete Sales Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.list_name){
        
        
        <tr>
            <td>@x.s_id</td>
            <td>@x.s_name</td>
            <td>@x.amount</td>
            <td>@x.city</td>
            <td>@x.email_id</td>
            <td><a href="/Edit_Sales?id=@x.s_id" class="btn btn-success"> Update</a></td>
            <td><a href="/delete_sales?id=@x.s_id" class="btn btn-danger"> Delete</a></td>

          
        </tr>
        }
    </tbody>
</table>
